Repository googleworkspace/apps-script-samples, pull requests merged in 2022-07, with the labels that each got.

#338 Add (err) to catch so it can be printed in log.
  service/jdbc.gs
Labels: javascript

#340 chore: standardize workflows
  .github/workflows/lint.yaml
  .github/workflows/lint.yml
Labels: yaml

#341 chore: add license headers
  .eslintrc.js
  .github/snippet-bot.yml
  docs/cursorInspector/sidebar.css.html
  docs/cursorInspector/sidebar.html
  docs/cursorInspector/sidebar.js.html
  forms-api/demos/AppsScriptFormsAPIWebApp/Main.html
  gmail/markup/mail_template.html
  sheets/next18/LinkDialog.html
  solutions/add-on/share-macro/UI.js
  solutions/automations/aggregate-document-content/Menu.js
  solutions/automations/aggregate-document-content/Setup.js
  solutions/automations/aggregate-document-content/Utilities.js
  solutions/automations/calendar-timesheet/Page.html
  solutions/automations/employee-certificate/Code.js
  solutions/automations/equipment-requests/new-equipment-request.html
  solutions/automations/equipment-requests/request-complete.html
  solutions/automations/generate-pdfs/Menu.js
  solutions/automations/generate-pdfs/Utilities.js
  solutions/automations/import-csv-sheets/SampleData.js
  solutions/automations/import-csv-sheets/SetupSample.js
  solutions/automations/import-csv-sheets/Utilities.js
  solutions/automations/upload-files/Setup.js
  solutions/automations/youtube-tracker/email.html
  solutions/chat-bots/schedule-meetings/Dialog.js
  solutions/chat-bots/schedule-meetings/Utilities.js
  solutions/editor-add-on/clean-sheet/Menu.js
  tasks/simpleTasks/javascript.html
  tasks/simpleTasks/page.html
  tasks/simpleTasks/stylesheet.html
  templates/sheets-import/intercom.js.html
  ui/communication/basic/index.html
  ui/communication/failure/index.html
  ui/communication/private/index.html
  ui/communication/success/index.html
  ui/forms/index.html
  ui/html/printing_scriptlet.html
  ui/html/scriptlet.html
  ui/html/standard_scriptlet.html
  ui/sidebar/index.html
  ui/user/index.html
  ui/webapp/index.html
Labels: javascript

#344 chore: switch to main
  README.md
Labels: markdown
